<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>ToDo list</title>
</head>
<body>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/profiles/home}" class="btn btn-info" role="button">Profile home</a>
        </div>
    </div>
</div>
<br>
<br>
<div th:object="${profiles}">
    <p>name: <span th:text="*{name}"></span></p>
    <p>surname: <span th:text="*{surname}"></span></p>
    <p>username: <span th:text="*{username}"></span></p>
    <p>email: <span th:text="*{email}"></span></p>
</div>

<div>
    <a th:href="@{/profiles/{profilesId}/update(profilesId=${profiles.profilesId})}" class="btn btn-info" role="button">Update profiles</a>
</div>
<br>
    <form th:action="@{/{profilesId}/delete(profilesId=${profiles.profilesId})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete profile</button>
    </form>
</body>

</html>