<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="container">
    <h3>Check your task list here</h3>
    <div class="row mt-3">
        <div class="col-md-6">
            <a th:href="@{/tasks-list}" class="btn btn-info" role="button">Task list</a>
        </div>
    </div>
    <br>
    <h3>Create your new task here</h3>
    <div class="row mt-3">
        <div class="col-md-6">
            <a th:href="@{/tasks-create}" class="btn btn-info" role="button">Create tasks</a>
        </div>
    </div>
    <br>
    <h3>Task history here</h3>
    <div class="row mt-3">
        <div class="col-md-6">
            <a th:href="@{/tasks/history}" class="btn btn-info" role="button">Task history</a>
        </div>
    </div>
</div>
</body>
</html>